




































body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.app {
    color: #444;
    margin-top: 100px;
    max-width: 600px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}






































h1[data-v-361a4bd2] {
  padding: 0 .25em;
}







































































































/* only reason this isn't scoped is to ensure the
 * selectors aren't prevented from targeting the custom row
 */
.treeView {
    background-color: #fff;
}

.treeRowCustom {
    display: flex;
    flex: 1 1;
    padding-right: 24px;
}

.treeView-body {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid lightgrey;
    border-top: none;
}

.treeView-header {
    display: flex;
    background-color: #616A87;
    color: #fff;
    border-radius: 3px 3px 0 0;
}

.treeViewHeader-cell {
    padding: 16px 8px 16px 16px;
}
































































































.treeChild[data-v-8fb1c774] {
    background-color: #fff;
}

.treeChild[data-v-8fb1c774]:hover {
    /*background-color: rgba(153, 152, 209, .4);*/
    cursor: pointer;
}

.treeChild-output[data-v-8fb1c774] {
    display: flex;
}

.treeChild-content[data-v-8fb1c774] {
    padding: 12px 12px 12px 12px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    text-align: left;
}

.treeChild-children[data-v-8fb1c774] {
    padding-left: 28px;
}






































.treeChild-control[data-v-74070ed6] {
    flex: 0 0;
    width: 12px;
    padding: 12px 0 12px 12px;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}

.treeChild-iconWrap[data-v-74070ed6] {
    padding-right: 8px;
}

.treeChild-icon[data-v-74070ed6] {
}

